{% extends "layouts/base.html" %}

{% load myfilters %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <h5 class="m-b-10">Customer Creation Page</h5>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    {% if message %}
                        <div class="alert alert-{{class}}">
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="form-control">
                        <h4>Profile</h4>
                        <div class="row">

                            <div class="col-md-6 my-2">
                                <label for=""> Username</label>
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Email</label>
                                <input type="text" class="form-control" placeholder="Email" name="email">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Phone</label>
                                <input type="text" class="form-control" placeholder="Phone" name="phone">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Address Line1</label>
                                <input type="text" class="form-control" placeholder="Address Line1" name="addressline1">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Address Line2</label>
                                <input type="text" class="form-control" placeholder="Address Line2" name="addressline2">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> City</label>
                                <input type="text" class="form-control" placeholder="City" name="city">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Pincode</label>
                                <input type="text" class="form-control" placeholder="Pincode" name="pincode">
                            </div>

                        </div>
                        
                        <h4 class="mt-3">Account Details</h4>
                        <div class="row">
                            <div class="col-md-6 my-2">
                                <label for=""> Account Number</label>
                                <input type="text" class="form-control" placeholder="Account Number" name="Account_Number">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Area Name</label>
                                <input type="text" class="form-control" placeholder="Area Name" name="Area_Name">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> STB</label>
                                    <select class="form-control" placeholder="STB" name="select1">
                                        {% for STB in stb %}
                                        <option value="{{STB.serial_number}}">{{STB.serial_number}}</option>
                                        {% endfor %}
                                    </select>
                                
                            </div>

                            <div class="col-md-6 my-2">
                                <label for="">Node</label>
                                    <select class="form-control" placeholder="Node" name="select2">
                                        {% for Node in node %}
                                        <option value="{{Node.serial_number}}">{{Node.serial_number}}</option>
                                        {% endfor %}
                                    </select>
                                
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> Bank Account</label>
                                <input type="text" class="form-control" placeholder="Bank Account" name="Bank_Account">
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""> IFSC Code</label>
                                <input type="text" class="form-control" placeholder="IFSC code" name="IFSC_code">
                            </div>

                        </div>

                    </div>


                    <button type="submit" class="btn btn-primary mt-2">Create</button>
                </form>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}