{% extends "layouts/base.html" %}

{% load myfilters %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Customer Creation Page</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    <div class="form-control">
                        <h4>Profile</h4>
                        <div class="row">
                            
                            <div class="col-md-6 my-2">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>
                            
                            <div class="col-md-6 my-2">
                                <input type="text" class="form-control" placeholder="Name" name="name">
                            </div>
                            
                            <div class="col-md-6 my-2">
                                <input type="text" class="form-control" placeholder="Email" name="email">
                            </div>
                            
                            <div class="col-md-6 my-2">
                                <select class="form-control" placeholder="Email" name="select">
                                    {% for STB in stb %}
                                        <option value="{{STB.serial_number}}">{{STB.serial_number}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                            
                            
                            
                        </div>
                        
                    </div>


                    <button type="submit" class="btn btn-primary">Create</button>
                </form>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}