{% extends "layouts/base.html" %}

{% load myfilters %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <h5 class="m-b-10">Update Operator</h5>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}
                   
                    <div class="form-control">
                        <h4>Basic Details</h4>
                        <div class="row">
                            {% for f in form %}                            
                                <div class="col-md-6 my-2">
                                    {{f}}
                                    {{f.errors}}
                                </div>                          
                            {% endfor %}
                            
                        </div>
                        
                    </div>

                    {{ form2.management_form }}

                    <div class="form-control my-4">
                        <h4>Account Details</h4>
                        {% for form in form2 %}

                          <label class="mr-2">Area {{ form.Area | addclass:'form-control' }}</label>
                          
                          <label class="mr-2">Pan Number {{ form.Pan_Number | addclass:'form-control' }}</label>
                          
                          <label class="mr-2">Bank Account {{ form.Bank_Account | addclass:'form-control' }}</label>
                          
                          <label class="mr-2">NODE Number {{ form.IFSC_code | addclass:'form-control' }}</label> 
                          
                        {% endfor %} 
                        
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Update Operator</button>
                </form>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}