{% extends "layouts/base.html" %}

{% block title %} Ui BreadCrumb {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <h5 class="m-b-10">Add Employee</h5>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header my-3">
                                <h5 class="px-2 mb-2">Add Employee</h5>
                                <form action="" method="post">
                                    {% csrf_token %}
                                  <div class="row">
                                        {% for f in form %}
                                        <div class="col-md-6 my-2">
                                            {{f}}
                                            {{f.errors}}
                                        </div>
                                        {% endfor %}  
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary my-3">Submit</button>
                                        </div>
                                    </div>
                
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
    {% endblock javascripts %}