{% extends "layouts/base.html" %}

{% load myfilters %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    <div class="form-control">
                        <h4>Add Inventory</h4>
                        <hr><br>
                        <div class="row">

                            <div class="col-md-6 my-2">
                                <label for=""><b>ITEM Name</b></label>
                                {{form.item_name}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Quantity </b></label>
                                {{form.qty}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Amount </b></label>
                                {{form.amount}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Bill Number </b></label>
                                {{form.bill_number}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Date of Purchase </b></label>
                                {{form.date_of_purchase}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Vendor Name </b></label>
                                {{form.vendor_name}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Warehouse </b></label>
                                {{form.warehouse}}
                            </div>

                            <div class="col-md-6 my-2">
                                <label for=""><b>Receiver Name </b></label>
                                {{form.receiver_name}}
                            </div>

                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary my-3">Create</button>
                </form>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}