{% extends "layouts/base.html" %}

{% load myfilters %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <form role="form" action="" method="POST">
                    {% csrf_token %}

                    <div class="form-control">
                        <h4>Add Router</h4>
                        <hr><br>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Make: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.make}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Model Number: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.model_number}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Router type: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.router_type}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Type: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.type1}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Date Of Purchase: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.DOP}}
                            </div>
                        </div>

                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Issue date: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.issue_date}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>MAC ID: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.mac_id}}
                            </div>
                        </div>

                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>IP Address: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.ip_address}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Status: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.status}}
                            </div>
                        </div>
        
                        <div class=" row mb-3 mx-3">
                            <div class="col mx-6">
                                <label for=""><b>Remark: </b></label>
                            </div>
                            <div class="col mx-6">
                                {{form.remark}}
                            </div>
                        </div>
                        
                    </div>

                   
                    <button type="submit" class="btn btn-primary my-3">Create</button>
                </form>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock javascripts %}