{% extends "layouts/base.html" %}

{% block title %} Ui BreadCrumb {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper Recent-Users">
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Customers</h5>
                                <a href="{% url 'newCustomer' %}" role="button" style="float: right"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Customer</a>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="text-center table table-bordered" id="tbleCust">
                                        <thead>
                                            <tr>
                                                <th scope="col">S. No.</th>
                                                <th scope="col">Customer</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Update</th>
                                                {% comment %} <th scope="col">Remove</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.phone}}</td>
                                                <td>
                                                    <a class="label theme-bg text-white f-12 mr-1" href="{% url 'updateCustomer' user.id %}"><i
                                                            class="fas fa-edit text-white"></i></a>
                                                    <a href="#" class="label bg-danger text-white f-12 mr-1"><i class="fa fa-trash text-white"
                                                            aria-hidden="true"></i></a>
                                                </td> 
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}