{% extends "layouts/base.html" %}

{% block title %} STB Details {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>STB details</h5>
                                <a href="{% url 'createPlans' %}" role="button" style="float: right"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Plans</a>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="text-center table table-bordered" id="tbleCust">
                                        <thead>
                                            <tr>
                                                <th scope="col">SR.No</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Plan ID</th>
                                                <th scope="col">Validity</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Company Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Speed</th>
                                                <th scope="col">Data Limit</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for f in plans %}
                                            <tr>
                                               <th scope="col">{{forloop.counter}}</th> 
                                               <th scope="col">{{f.name}}</th> 
                                               <th scope="col">{{f.plan_ID}}</th> 
                                               <th scope="col">{{f.validity}}</th> 
                                               <th scope="col">{{f.price}}</th> 
                                               <th scope="col">{{f.company_name}}</th> 
                                               <th scope="col">{{f.description}}</th> 
                                               <th scope="col">{{f.speed}}</th> 
                                            </tr>
                                               <th scope="col">{{f.data_limit}}</th> 
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}