{% extends "layouts/base.html" %}

{% block title %} Node Details {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Router details</h5>
                                <a href="{% url 'addRouter' %}" role="button" style="float: right"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Router</a>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="text-center table table-bordered" id="tbleCust">
                                        <thead>
                                            <tr>
                                                <th scope="col">SR.No</th>
                                                <th scope="col">Make</th>
                                                <th scope="col">Model Number</th>
                                                <th scope="col">DOP</th>
                                                <th scope="col">Issue Date</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Router Type</th>
                                                <th scope="col">Remark</th>
                                                <th scope="col">Mac ID</th>
                                                <th scope="col">IP Address</th>
                                                <th scope="col">Update</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for rt in router %}
                                                <tr>
                                                    <td scope="col">{{forloop.counter}}</td>
                                                    <td scope="col">{{rt.make}}</td>
                                                    <td scope="col">{{rt.model_number}}</td>
                                                    <td scope="col">{{rt.DOP}}</td>
                                                    <td scope="col">{{rt.issue_date}}</td>
                                                    <td scope="col">{{rt.value(type1)}}</td>
                                                    <td scope="col">{{rt.status}}</td>
                                                    <td scope="col">{{rt.router_type}}</td>
                                                    <td scope="col">{{rt.remark}}</td>
                                                    <td scope="col">{{rt.mac_id}}</td>
                                                    <td scope="col">{{rt.ip_address}}</td>
                                                    <td>
                                                        <a class="label theme-bg text-white f-12 mr-1" href="#"><i
                                                                class="fas fa-edit text-white"></i></a>
                                                        <a href="#" class="label bg-danger text-white f-12 mr-1"><i class="fa fa-trash text-white"
                                                                aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}