{% extends "layouts/base.html" %}

{% block title %} Ui BreadCrumb {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Breadcrumbs & Pagination</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Breadcrumbs & Pagination</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Customers</h5>
                                <a href="{% url 'newCustomer' %}" role="button" style="float: right"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Customer</a>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="text-center table table-bordered" id="tbleCust">
                                        <thead>
                                            <tr>
                                                <th scope="col">Customer</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Update</th>
                                                {% comment %} <th scope="col">Remove</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in users %}
                                            <tr>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.phone}}</td>
                                                {% comment %} <td>
                                                    <a class="btn btn-sm btn-info"
                                                        href="#"><i
                                                            class="fas fa-edit"></i></a>
                                                    <a class="btn btn-sm btn-danger"
                                                        href="{% url 'user_edit' %}"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></a>
                                                </td> {% endcomment %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}